// Header

.header {
  border-bottom: 1px solid #ececec;

  @media screen and (max-width: 767px) {
    position: fixed;
    top: 0;
    width: 100%;

    background-color: $primary-bg-color;

    z-index: 1;
  }
}

// Wrapper for all navigation

.main-nav {
  @media screen and (max-width: 767px) {
    @include flexbox(space-between, center);

    height: 60px;
  }

  @media screen and (min-width: 768px) {
    @include flexbox(space-between, center);
  }
}
