// Hero section

.hero {
  max-width: 1600px;
  min-height: 400px;

  margin-left: auto;
  margin-right: auto;

  background-color: $second-bg-color;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/mobile/hero-480@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/mobile/hero-480@2x.jpg);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/tablet/hero-768@1x.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/tablet/hero-768@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    min-height: 600px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/desktop/hero-1200@1x.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/desktop/hero-1200@2x.jpg);
    }
  }
}

// Wrapper around the title and button

.hero__content {
  max-width: 360px;
  padding: 118px 0;

  @media screen and (min-width: 1200px) {
    max-width: 696px;
    padding: 200px 0;
  }

  margin-right: auto;
  margin-left: auto;

  text-align: center;
}

// Hero Title

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;

  color: $primary-bg-color;

  @include font(900, 26px, 1.62);

  @media screen and (min-width: 1200px) {
    @include font(900, 44px, 1.36);
  }

  letter-spacing: 0.06em;
  text-transform: uppercase;
}

// The "Order service" button

.hero__btn {
  padding: 10px 32px;
}
