// Section "Our team"

.team {
  background-color: $additional-background-color;
}

// Section list

.team__list {
  @extend %list;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
// List Item

.team__item {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;

  background-color: $primary-bg-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 1 * 30px) / 2);

    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

// Wrapper for element content

.team__content {
  padding-top: 30px;
  padding-bottom: 24px;

  text-align: center;
}

// Element title (employee name)

.team__name {
  margin-top: 0;
  margin-bottom: 10px;

  color: $second-text-color;

  @include font(500, 16px, 1.18);
}

// The text of the element (employee position)

.team__text {
  margin-top: 0;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.18;
}

// List of social networks

.social {
  @extend %list;
  display: flex;
  justify-content: center;
}

// Social Media List item

.social__item:not(:last-child) {
  margin-right: 10px;
}

// Social Network Icons

.social__icon {
  .social__link:hover &,
  .social__link:focus & {
    fill: $primary-bg-color;
  }
}
