// Common button

.btn {
  min-width: 200px;
  height: 50px;

  border: 0px solid transparent;
  border-radius: 4px;

  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: $primary-bg-color;

  @include font(700, 16px, 1.87);
  letter-spacing: 0.06em;

  transform: scale(1);

  transition: transform $transition-duration $timing-function;

  cursor: pointer;

  &:hover:enabled,
  &:focus:enabled {
    transform: scale(0.93);
  }

  &:disabled {
    background-color: gray;
  }
}
