// The general block for the subscription form in the footer

.subscribe {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 450px;
  }
}

// Subscription form

.subscribe__field {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
  }
}

// Subscription Form field

.subscribe__input {
  padding: 15px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  background-color: $second-bg-color;

  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);

  transition: all $transition-duration $timing-function;

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }

  &:focus {
    outline: transparent;
    border: 1px solid currentColor;
  }

  &:not(:placeholder-shown):focus:valid {
    color: green;
    border-color: green;
  }

  &:not(:placeholder-shown):focus:invalid {
    color: tomato;
    border-color: tomato;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 100%;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    height: 50px;

    margin-right: 12px;
  }
}

// Subscription button

.subscribe__btn {
  display: flex;
  align-items: center;

  padding: 10px 28px;

  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }
}

// Icon for the subscription button

.subscribe__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
