// A shared block with the address and logo in the footer

.address-block {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 65px;
  }
}

// Logo in the footer

.footer__logo {
  display: inline-block;

  margin-bottom: 20px;

  color: $primary-bg-color;
}

/* Контакты в футере */

.adress {
  font-style: normal;

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
  }
}

// Street in footer

.adress__map {
  margin-top: 0;

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

// List of phone numbers and mail addresses

.adress__list {
  @extend %list;
}

// List Items

.adress__item {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

// Link for list items

.adress__link {
  color: rgba(255, 255, 255, 0.6);

  text-decoration: none;

  transition: color $transition-duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
