// List of contacts in the header

.contacts {
  @extend %list;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;

    margin-left: auto;
  }
}

// Contact List item

.contacts__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 16px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}

// Links in the element

.contacts__link {
  color: $primary-text-color;

  @include font(500, 18px, 1.16);
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color $transition-duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: 767px) {
    @include font(500, 14px, 1.14);
  }
}

// Icon Wrapper

.contacts__icon {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    justify-content: center;
  }
}

// Mail Icon

.contacts__mail {
  width: 16px;
  height: 12px;

  margin-right: 10px;

  fill: currentColor;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 8px;
  }
}

// Phone icon

.contacts__phone {
  margin-right: 10px;
  width: 10px;
  height: 16px;

  fill: currentColor;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 8px;
  }
}
