// General logo style

.logo {
  font-family: $secondary-font;
  @include font(700, 24px, 1.16);
  text-decoration: none;

  &__text {
    color: $accent-color;
  }

  @media screen and (min-width: 1200px) {
    @include font(700, 26px, 1.19);
  }
}

// Logo in header

.header__logo {
  color: $second-text-color;
}
