// Link to the social network icon

.media-link {
  @include flexbox(center, center);

  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color $transition-duration $timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

// Social Network icon

.media-icon {
  width: 20px;
  height: 20px;

  fill: $svg-color;

  transition: fill $transition-duration $timing-function;
}
