// Variables for colors

$primary-text-color: #757575;
$second-text-color: #212121;
$accent-color: #2196f3;
$primary-bg-color: #ffffff;
$second-bg-color: #2f303a;
$additional-background-color: #f5f4fa;
$svg-color: #afb1b8;

// Variables for fonts

$primary-font: Roboto, sans-serif;
$secondary-font: Raleway, sans-serif;

// Variables for transitions and animations

$transition-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
